.popup1
{
	width:380px;
	height: 290px;
	margin-left: 109px;
}
.base{
  margin-top: 120px;

}
.universeinfo{
  width:191px;
  margin-top: 15px;
}
.deleteU, .deleteH {
  margin-top: 5px;
}
.changeH, .changeU {
  margin: 0 auto;
	margin-left: 22px;
	border-radius:4px;

}
.saveU, .saveH{
  margin-top: 10px;
}
.row{
  text-align: center;
}
.heroinfo{
  width:384px;
  margin-top: 15px;
}
.universe {
width:30%;
float:left;
}
.hero {
	width:70%;
	float:right;
}
.kino {
	width:100%;
	position:relative;
	text-align: center;
	margin-top: 58px;
	margin-bottom: 27px;
}
.selectuni {
	width: 206px;
}
.form4 {
	position: relative;
}
.kinoinfo {
	width:60%;
	margin:0 auto;
}
p{
	margin: 0px;
	font-size: 12px;
}
